<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="empresa.jpeg" class="card-img-top" alt="Imagem do Card">
          <div class="card-body">
            <h5 class="card-title">Empresa</h5>
            <p class="card-text">Faça aqui seu cadastro.</p>
            <a [routerLink]="'/cadastro-empresa'" class="btn btn-primary">Cadastrar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="passageiro.jpeg" class="card-img-top" alt="Imagem do Card">
          <div class="card-body">
            <h5 class="card-title">Passageiro</h5>
            <p class="card-text">Faça aqui seu cadastro</p>
            <a [routerLink]="'/cadastro-usuario'" class="btn btn-primary">Cadastrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>  