<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1>A melhor solução de transporte para você e sua empresa</h1>
        <p>
            A Vango é uma empresa com foco na mobilidade urbana que conecta as pessoas ao transporte coletivo privado através de tecnologia. Como agente de inovação, acredita que a economia compartilhada é uma grande aliada para o desenvolvimento sócio-econômico.
        </p>
      </div>
      <div class="col-md-6">
        <img src="vango.png" class="img-fluid" alt="emblema vango">
      </div>
    </div>
  </div>
  