.btn-laranja {
    background-color: orange;
    border-color: orange;
    color: white; /* Texto branco */
  }
  
  .btn-laranja:hover {
    background-color: darkorange; /* Cor ao passar o mouse */
    border-color: darkorange;
  }

  